html {
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #FBF8F8;
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif !important;
    background-color: #FBF8F8;
    max-width: 900px;
    margin: auto;
}

::selection {
    background-color: #C4C4C4;
}

body.post {
    max-width: 800px;
}

section {
    margin: 3% !important;
    padding: 5% 7%;
    border-radius: 25px;
}

h1 {
    text-transform: uppercase;
    font-size: 27vw !important;
    color: #C4C4C4;
    position: relative;
    z-index: 4;
    font-weight: 700;
}

.header-image {
    display: inline ;
}

.section-image {
    display: none;
}

@media screen and (min-width: 768px) {
    h1 {
       font-size: 27vw !important;
    }
    .header-image {
        display: none;
    }
    .section-image {
        display: flex;
    }
}

@media screen and (min-width: 900px) {
    h1 {
       font-size: 220px !important;
    }
}

p {
    font-size: 20px;
    color: #464646;
    margin: 0;
    line-height: 27px;
}

h1 + p, .verticalline {
    margin-left: 5px;
    padding-left: 10px;
    border-left: 3px solid;
}

nav a{
    color: #464646;
}

a:hover{
    /* color: #919195; */
    color: #C9D8D8;
}

img {
    position: relative;
    z-index: 2;
    border-radius: 25px;
}

.image {
    padding: 0;
}

.image div {
    padding: 0;
}

section.post h1 {
    font-size: 40px !important;
    color: #464646;
    font-weight: 700;
}

section.post h2 {
    font-size: 24px !important;
    color: #464646;
    font-weight: 700;
}

section.post article.green p, section.post article.green a{
    color: #819393 !important;
    padding-bottom: 20px;
}

section.post article.orange p, section.post article.orange a{
    color: #B1A6A0 !important;
    padding-bottom: 20px;
}

section.post article.white p, section.post article.white a {
    color: #919195 !important;
    padding-bottom: 20px;
}

section.post a {
    font-weight: 700;
}

section.post img {
    display: block;
    margin: auto;
    width: 80%;
    padding-bottom: 20px;
    mix-blend-mode: multiply;
}

section.post i {
    font-size: 20px;
}

section.article-footer {
    padding-top: 0px;
    margin-top: 0px;
}

/* section[id], div.p-3 {
    box-shadow: 0px 0px 7px -2px rgb(226, 226, 226);
} */

.bpadding {
    padding-bottom: 20px;
}

div.bpadding + div.bpadding {
    padding-top: 10px;
}

.bradius {
    border-radius: 10px;
}

.button {
    border-radius: 6px;
    background-color: #474747;
    color: #FBF8F8;
    margin-left: 10px;
}

.dot:before {
    content: "• ";
}

.green {
    /* background-color: #4e7769; */
    background-color: #C9D8D8;
    /* color: #FBF8F8 !important; */
}

.grey {
    /* background-color: #F0F0F4; */
    background-color: #eeeeee;
    color: #919195 !important;
}

.grey-light {
    background-color: #FBF8F8;
    color: #919195 !important;
}

.simple-heading {
    font-weight: 700;
    color: #464646;
}

.heading {
    font-weight: 700;
    color: #464646;
}

.heading:after {
    content: "."; /*" •"*/
}

.main-content {
    position: relative;
    overflow: hidden;
}

.main-content:after {
    content: "";
    top: -1%;
    left: -5%;
    position: absolute;
    width: 120%;
    height: 102%;
    background: #FBF8F8;
    animation: reveal 1.5s cubic-bezier(0.2, 1, 0.2, 1) forwards;
    animation-delay: 2.2s;
}


@keyframes reveal {
    0% {
        left: -5%;
        width: 120%;
    }
    100% {
        left: 120%;
        width: 0%;
    }
}

.social {
    margin-left: 10px;
}

.social:hover a {
    color: #464646;
}

.social a {
    color: #464646;
    font-size: 28px;
    margin-right: 12px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.social a:hover {
    color: #464646;
    text-decoration: none;
}

.social a:hover i {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
}

div.tpadding + div.tpadding {
    padding-top: 10px;
}

.transition > * {
    opacity: 0;
    animation: appear-text 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    animation-delay: 1.25s;
}

.transition h1 {
    animation-delay: 1s;
}

@keyframes appear-text {
    0% {
      -webkit-transform: translateX(-40px);
              transform: translateX(-40px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }

  }

#transitionDelay > * {
    animation-delay: 1.5s;
}

.orange {
    background-color: #EEE2DB;
    color: #B1A6A0;
}

.welcome {
    background-color: #FBF8F8;
    padding: 0;
}

.white {
    background-color: #FBF8F8;
    color: #919195;
}

.moving-p {
    position: relative;
    margin: 25% 0px 0px 0px;
    z-index: 1;
    white-space: nowrap;
}

.moving-p p {
    font-size: 95px;
    color: #C4C4C4;
    transform: translateX(-50px);
}

#reverse {
    margin: 35% 0px 0px 0px;
}

#reverse p{
    transform: translateX(-1500px);
}
