/*.chunky_underline {
    background-image: linear-gradient(
        transparent 0%,
        transparent 70%,
        rgba(248, 186, 145, 0.8) 0%,
        rgb(248, 186, 145, 0.8) 95%,
        transparent 90%,
        transparent
    );
    transition: background-color 0.3s ease-in-out;
}*/

::selection {
    background: rgb(248, 186, 145)
}

.chunky_underline_grey {
    background-image: linear-gradient(
        transparent 0%,
        transparent 70%,
        #dbdbdb 0%,
        #dbdbdb 98%,
        transparent 90%,
        transparent
    )
}

.text-orange {
    color: rgb(247, 144, 75)
}

.ds-back {
    background-image: url(ds_half.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
    padding-top: 15rem;
    padding-bottom: 15rem;

}

.lx-back {
    background-image: url(lx_half.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    padding-top: 15rem;
    padding-bottom: 15rem;
}

.one-back {
    position: relative;
    font-size: 5em;
    font-weight: bold;
    left: -0.45em;
    line-height: 1em;
    color: #dbdbdb;
    letter-spacing: -0.05rem;
}

@media screen and (min-width: 1200px) {
    .one-back {
        font-size: 100px;
        letter-spacing: -6px;
    }
}

@media screen and (max-width: 700px) {
    .lx-back {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    .ds-back {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}

.box-shadow-right {
    box-shadow: 60px 50px 0px 0px rgb(248, 186, 145)
}

.box-shadow-left {
    box-shadow: -15px 15px 0px 0px rgb(248, 186, 145);
    margin-left: 1em;
}

.box-shadow-bottom {
    box-shadow: 0px 1px 0px 0px #9c9c9c9c;
}

.bar-with-shadow {
    width: 70%;
    height: 25px;
    background-color: #dbdbdb;
    box-shadow: 30px 10px 0px 0px rgb(248, 186, 145);
}

div.left-padding {
    padding: 1rem 4rem;
}

.no-left-padding {
    padding-left: 0px
}

.line {
    overflow: hidden;
}

.hide-overflow-position {
    position: relative;
    height: 90%;
    top: 10%;
    overflow: hidden;
}

.hide-overflow {
    overflow: hidden;
}

.line:after {
    content:"";
    display: inline-block;
    position: absolute;
    top: 50%;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 6px;
    border-top: 3px solid #363636;
}

.image.is-custome {
    height: 50px;
}

.is-custome img {
    display: block;
    height: 100%;
    width: auto;
    max-width: 170px;
}

@media screen and (min-width: 768.1px) {
    .verticle-content {
        display: inline-block !important;
        position: relative;
    }

    .is-verticle-text {
        display: block !important;
        transform: rotate(-90deg);
        transform-origin: left;
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 100vh;
    }

    .padding-is-large {
        padding: 2rem;
    }
}

@media screen and (max-width: 768.1px) {
    .padding-is-small {
        padding: 1rem;
    }
}

.min-width-75 {
    min-width: 75px;
}

.no-padding-bottom {
    padding-bottom: 0;
}

.no-padding-top {
    padding-top: 0;
}

.padding-top-is-05 {
    padding-top: 0.5rem;
}

.footer {
    background: url(background.jpg) no-repeat fixed;
    background-size: contain;
    background-position: center center;
    height: 85vh;
    max-width: 1200px;
    margin: auto;
}

html {
    scroll-behavior: smooth;
}

.chunky_underline {
    color: inherit;
    position: relative;
    z-index: 1;
}

.chunky_underline::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0.3);
    transform-origin: bottom center;
    background: rgba(248, 186, 145, 0.8);
    z-index: -1;
    transition: transform 0.3s;
}

.chunky_underline:hover::after {
    transform: scaleY(1);
}

.rev-block {
    position: relative;
}

.rev-block span {
    opacity: 0;
    animation: appear-text 0.0001s linear forwards;
    animation-delay: 1.4s;
}

.rev-block:after {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 0%;
    height: 100%;
    background: #dbdbdb;
    animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    animation-delay: 1s;
}

@keyframes rev-block {

    0% {
         left: 0;
         width: 0%;
    }
    50% {
         left: 0;
         width: 100%;
    }
    100% {
         left: 100%;
         width: 0%;
    }

}

@keyframes appear-text {

    0% {
         opacity: 0;
    }
    100% {
         opacity: 1;
    }

}

#orange.rev-block:after {
    background: #f8ba91;
    animation-delay: 1.4s;
}

#orange span {
    animation-delay: 2s;
}

.title {
	padding: 0px 0px 30px 0px;
	margin: 0px 0px 32px 0px;
    line-height: 20px;
    position: relative;
}

.title:after {
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	bottom: 0;
	width: 70px;
	height: 5px;
    background: #363636;
}

.margin-top {
    margin-top: 5rem
}

.numbers {
    font-size: 70px;
    font-weight: bold;
    color: #f8ba91;
}