@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Roboto Mono;
  line-height: 1.5;
  font-weight: 400;
  color: #555555;
  background-color: #f0f0f0;
  font-size: 13px;
}
